.header-block_center {
  text-align: center;
}

.header-block__label {
  font-size: 16px;
  line-height: 1.37;
  color: #6257fe;
}

.header-block__label:not(:last-child) {
  margin: 0px 0px 7px 0px;
}

.header-block__title {
  font-family: Overpass;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.26;
}

@media (max-width: 1200px) {
  .header-block__title {
    font-size: 44px;
  }
}

.text {
  line-height: 1.6;
}

.text p:not(:last-child) {
  margin: 0px 0px 30px 0px;
}

.button {
  cursor: pointer;
  display: inline-block;
  padding: 19px 46px;
  color: #100c46;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.8;
  background-color: #ffffff;
  box-shadow: 0px 10px 50px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  transition: all 0.3s ease 0s;
  text-align: center;
}

.button:hover {
  background-color: #100c46;
  color: #fff;
}

.button_dark {
  background-color: #100c46;
  color: #fff;
}

.social-header__item:hover {
  background-color: #100c46;
  color: #100c46;
}

.header {
  z-index: 50;
  display: flex;
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  align-items: flex-start;
  justify-content: space-between;
}

.header__logo {
  padding: 17px 0px 17px 20px;
}

.social-header {
  padding: 20px;
  display: flex;
  background-color: #6257fe;
}

.social-header__item {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
}

.social-header__item:hover {
  background-color: #100c46;
}

.social-header__item img {
  width: 30px;
  height: 30px;
  object-fit: contain;
}

.social-header__item:hover img {
  filter: brightness(0) invert(1);
}

.social-header__item:not(:last-child) {
  margin: 0px 25px 0px 0px;
}

@media (max-width: 767.98px) {
  .button {
    width: 100%;
  }
}
